* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Installazione font locali*/
@font-face {
  font-family: 'AvenirNext-regular';
   src: url('Resources/font/AvenirNextLTPro-Regular.otf');  
}
@font-face {
  font-family: 'AvenirNext-bold';
   src: url('Resources/font/AvenirNextLTPro-Demi.otf');  
}
@font-face {
  font-family: 'AvenirNext-italic';
   src: url('Resources/font/AvenirNextLTPro-It.otf');  
}

/*			TABELLA COLORI
	blu che sembra nero		#33475B
	arancione				#FF7A59
	arancione::hover		#FF8F73
	grigio sfondo			#F5F8FA
	grigio header (mio)		#D1D4D6
	colore freccine header	#7C98B6
	azzurro lente header	#01A5BE
*/

body {
  font-family: 'AvenirNext-regular', Comic Sans MS, sans-serif;
  color: #33475B;
}

button {
	background-color: #FF7A59;
	border-radius: 3px;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	font-family: 'AvenirNext-bold', Comic Sans MS, sans-serif;
	color: white;
	text-decoration: none;
	text-align: center;
}

button:hover {
	background-color: #FF8F73;
}

li {
	display: inline-block;
	margin: 10px;
}

.main-padding {
	padding: 0 10%;
}


/*spunte arancioni nei rettangoli bianchi a centro pagina*/
.fa-check-circle {
	color: #FF7A59;
}

/*freccine apertura menù a tendina nell'header*/
.fa-sort-down {
	color: #7C98B6;
}

/*Regole float*/
.sx {float: left;}

.dx {float: right;}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
  visibility: hidden;
}

.h-center {
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
}

/*-----------*/
/*--SEZIONI--*/
/*-----------*/

.header-blue {
	background-color: #33475B;
	color: #F5F8FA;
	border-top: 2px solid #FF7A59;
	font-size: 0.8rem;
}

.header-blue .dx,.header-blue .sx {
	margin: 0 20px;
}

.header-blue .dx>* {
	background-color: purple;
	display: inline-block;
	margin: 10px;
}

/* not working rn
.header-blue-dx .separatore {
	background-color: #F5F8FA;
	height: 21px;
	width: 2px;
}
*/

/*-----------------------------------*/
.header-grey {
	position: relative;
	height: 55px;
	background-color: #D1D4D6;
}

.header-grey p,.header-grey button {
	display: inline-block;
	margin: 0 5px;
}

.header-grey .sx {
	display: inline-block;
	position: relative;
	text-align: left;
}

.header-grey .dx {
	display: inline-block;
	position: relative;
	text-align: right;
}
