/*COSE DA CONTROLLARE
	.h-rect .dx h5:after 	se metto width:100% esce dal contenitore
	*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Installazione font locali*/
@font-face {
  font-family: 'AvenirNext-regular';
   src: url('Resources/font/AvenirNextLTPro-Regular.otf');  
}
@font-face {
  font-family: 'AvenirNext-bold';
   src: url('Resources/font/AvenirNextLTPro-Bold.otf');  
}
@font-face {
  font-family: 'AvenirNext-semibold';
   src: url('Resources/font/AvenirNextLTPro-Demi.otf');  
}
@font-face {
  font-family: 'AvenirNext-italic';
   src: url('Resources/font/AvenirNextLTPro-It.otf');  
}

/*			TABELLA COLORI
	blu che sembra nero		#33475B
	arancione				#FF7A59
	arancione::hover		#FF8F73
	grigio sfondo			#F5F8FA
	grigio header (mio)		#D1D4D6
	colore freccine header	#7C98B6
	azzurro lente header	#01A5BE


	gradiente azzurro:
	bottom-left #00A4BD
	top-right   #00BCA5
*/

body {
  font-family: 'AvenirNext-regular', sans-serif;
  color: #33475B;
}

button {
	background-color: #FF7A59;
	border-radius: 3px;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	font-family: 'AvenirNext-semibold', sans-serif;
	color: white;
	text-decoration: none;
	text-align: center;
}

button:hover {
	background-color: #FF8F73;
}

li {
	display: inline-block;
	margin: 10px;
}

p {
	line-height: 1.6rem;

}

.main-padding {
	padding: 0 10%;
}

.grey-background {
	background-color: #F5F8FA;
	background-color: lightgrey;
}

.white-background {
	background-color: white;
}


/*spunte arancioni nei rettangoli bianchi a centro pagina*/
.fa-check-circle {
	color: #FF7A59;
}

/*freccine apertura menù a tendina nell'header*/
.fa-sort-down {
	color: #7C98B6;
}

/*Regole float*/
.sx {
	float: left;
	position: relative;
}
.dx {
	float: right;
	position: relative;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
  visibility: hidden;
}

.h-center {
	top: 50%;
	transform: translate(0%, -50%);
}

/*-----------*/
/*--SEZIONI--*/
/*-----------*/

.header-blue {
	background-color: #33475B;
	color: #F5F8FA;
	border-top: 2px solid #FF7A59;
	font-size: 0.8rem;
}

.header-blue .dx,.header-blue .sx {
	margin: 0 20px;
}

.header-blue .dx>* {
	display: inline-block;
	margin: 10px;
}

/* not working rn
.header-blue-dx .separatore {
	background-color: #F5F8FA;
	height: 21px;
	width: 2px;
}
*/

/*-----------------------------------*/
.header-grey {
	position: relative;
	height: 70px;
	background-color: #D1D4D6;
}

.header-grey p,.header-grey button {
	display: inline-block;
	margin: 0 5px;
}

/*-----------------------------------*/
.header-white {
	position: relative;
	height: 70px;
	background-color: white;
}

/*-----------------------------------*/
.jumbotron {
	background-image: url("Resources/background.png"), linear-gradient(to right top, #356682, #3f7e99, #4b96af, #58afc4, #68c9d8);
	background-repeat: no-repeat;
	background-position: bottom right;
	height: 600px;
	color: white;
}

.jumbotron>* {
	width: 430px;
}

.jumbotron h1 {
	font-family: 'AvenirNext-bold', sans-serif;
	font-size: 3.5rem;
	padding: 100px 0 30px 0;
	line-height: 4rem;
}

.jumbotron button {
	background-color: white;
	color: #33475B;
	width: auto;
	margin: 20px 0;
	font-size: 1rem;
	padding: 25px 45px;
}

.jumbotron span {
	display: block;
	width: 200px;
	color: #C2D2DE;
	font-size: 0.8rem;
}

/*-----------------------------------*/
.h2-section {
	height: 440px;
	text-align: center;
}

.h2-section img {
	padding-top: 80px;
	width: 260px;
}

.h2-section h2 {
	font-family: 'AvenirNext-bold', sans-serif;
	font-size: 2rem;
}

.h2-section p {
	padding: 20px 140px;
}

/*-----------------------------------
        Rettangoli bianchi
*/

.white-rect-image {
	height: 150px;
}

.h-rect {
	margin-bottom: 30px;
	padding: 30px;
}

.h-rect .sx {
	width: 38%;
	text-align: center;
	padding-top: 5px;
}

#white-h-rect-button {
	margin: 25px auto;
	display: block;
}

.h-rect .dx {
	width: 58%;
	padding: 15px;
}

.h-rect .dx p {
	margin: 15px 0 20px;
}

.h-rect .dx h5 {
	position: relative;
	text-transform: uppercase;
}

.h-rect .dx h5:after {
	content: '';
    position: absolute;
    height: 5px;
    margin-left: 10px;
    border-bottom: 1px solid #e0e6ed;
    top: 4px;
    width: 150px;
}

.first-li-white-rect {
	margin: 20px 10px 20px 0;
}